body {
	margin: 0;
	padding: 0;
	font-family: sans-serif;
	height: 1080px;
	width: 1920px;
	background-image: url('../src/images/background.jpeg');
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}
h1 {
	color: red;
}
.jumbotron {
	opacity: 70%;
}
form {
	width: 50%;
}
button, span {
	cursor:pointer;
}
h5 {
	color:black;
}
.container{
	min-height: 100vh;
	position: relative;
}

// .card {
// 	width: 50%;
// }
