/* .Profile {
    width: 100%;
    height: 100%;
    background-color: darkolivegreen;
} */
.profile {
background-color: darkgrey;
border-radius: 10px;
padding: 20px;
height: 300px;
width: 250px;
/* text-align: center; */


}
.history {
background-color: darkgrey;
border-radius: 10px;
padding: 20px;
height: 400px;
width: 400px;
text-align: center;
float: right;
}

form {
    background-color: cadetblue;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    
}